* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(44, 44, 93);
    color: rgb(235, 247, 13);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    gap: 50px;
    cursor: pointer;
}

.principal {
    display: flex;
    align-items: center;
    margin-left: 50px;
    min-width: 85vh;
}

.principal h1 {
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 20px;
    letter-spacing: -4;
}

.principal h1 span {
    color: rgb(247, 95, 13);
}

.principal p {
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 500px;
    color: #bbb;
    margin-bottom: 40px;
}

.button {
    display: inline-block;
    background-color: rgb(247, 95, 13);
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.button:hover {
    background: rgb(235, 247, 13);
    color: rgb(44, 44, 93);
}